<div ng-show="vehicle">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ vehicle.vin }}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h6>Make</h6>
        {{ vehicle.make }}
      </div>
      <div class="col-md-4">
        <h6>Model</h6>
        {{ vehicle.model }}
      </div>
      <div class="col-md-4">
        <h6>Year</h6>
        {{ vehicle.year }}
      </div>
      <div class="col-md-4" ng-show="vehicle.trim">
        <h6>Trim</h6>
        {{ vehicle.trim }}
      </div>
      <div class="col-md-4">
        <h6>Transmission Type</h6>
        {{ vehicle.transmission_type }}
      </div>
      <div class="col-md-4">
        <h6>Engine Type</h6>
        {{ vehicle.engine_type }}
      </div>
      <div class="col-md-4">
        <h6>Engine Cylinders</h6>
        {{ vehicle.engine_cylinders }}
      </div>
      <div class="col-md-4">
        <h6>Engine Size</h6>
        {{ vehicle.engine_size }}
      </div>
    </div>
  </div>
</div>

<div ng-hide="vehicle">
  <div class="container" id="vin-not-found">
    <div class="row">
      <div class="col-md-12">
        <div>We were unable to decode that VIN. Please try again later, or contact the administrator</div>
      </div>
    </div>
  </div>
</div>

