<div ng-show="vehicle.vin">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>{{ vehicle.vin }}</h2>
        <h4 ng-show="vehicle.name">{{ vehicle.make }} {{ vehicle.model }} {{ vehicle.name }}</h4>
      </div>
    </div>
    <div class="row" ng-show="vehicle.vehicle_images.length > 0">
      <div class="col-md-{{carouselGridWidth}} col-md-offset-3">
        <carousel interval="5000">
          <slide ng-repeat="image in vehicle.vehicle_images" active="image.active">
            <img ng-src="http://media.ed.edmunds-media.com/{{image.medium_res_url}}" style="margin:auto;">
            <div class="carousel-caption">
              <p>{{image.caption}}</p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <h6>Make</h6>
        {{ vehicle.make }}
      </div>
      <div class="col-md-4">
        <h6>Model</h6>
        {{ vehicle.model }}
      </div>
      <div class="col-md-4">
        <h6>Year</h6>
        {{ vehicle.year }}
      </div>
      <div class="col-md-4" ng-show="vehicle.trim">
        <h6>Trim</h6>
        {{ vehicle.trim }}
      </div>
      <div class="col-md-4">
        <h6>Transmission Type</h6>
        {{ vehicle.transmission_type | humanize }}
      </div>
      <div class="col-md-4">
        <h6>Engine Type</h6>
        {{ vehicle.engine_type | humanize }}
      </div>
      <div class="col-md-4">
        <h6>Engine Cylinders</h6>
        {{ vehicle.engine_cylinders }}
      </div>
      <div class="col-md-4">
        <h6>Engine Size</h6>
        {{ vehicle.engine_size }}
      </div>
    </div>
    <div class="row extra-top-margin">
      <div class="col-md-12">
        <a class="btn btn-primary" href="#/">Decode Another VIN</a>
        <a class="btn btn-primary" href="#/vehicles">View All Decoded VINs</a>
      </div>
    </div>
  </div>
</div>

<div ng-hide="vehicle">
  <div class="container" id="vin-not-found">
    <div class="row">
      <div class="col-md-12">
        <div>We were unable to decode that VIN. Please try again later, or contact the administrator</div>
      </div>
    </div>
  </div>
</div>
