<div class="jumbotron">
  <div class="container">
    <h1>Welcome</h1>
    <p>To get started, type in a VIN</p>
    <input type="text" id="vin-input">
    <input class="btn btn-primary" type="submit" id="vin-submit" value="Decode">
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
  $("#vin-submit").click(function() {
    window.location = "/vehicles/by_vin/" + $("#vin-input").val();
  });
});
</script>
