<h1>VINs</h1>

<table class="table table-striped table-hover" id="vin-history-table">
  <thead>
    <tr>
      <th>
      VIN
      </th>
      <th>
      </th>
    </tr>
  </thead>
  <tbody>
<% @vehicles.each do |vehicle| %>
  <tr id="vin_<%=vehicle.vin%>">
    <td><%= vehicle.vin%></td>
    <td><%= link_to("Details", by_vin_vehicles_path(vehicle.vin), :class => "btn btn-primary")%></td>
  </tr>
<% end %>
  </tbody>
</table>
