body {
  padding-top: 50px;
}

#pagination {
  cursor: pointer;
}

#vin-not-found {
  margin-top: 20px;
}

.carousel-control .icon-prev, .carousel-control .icon-next {
  margin-top: -15px;
}

@media screen and (min-width: 768px) {
  .carousel-control {
    font-size: 60px;
  }
}

.carousel-indicators {
  display: none;
}

.carousel-control {
  position: absolute;
  width: 40px;
  height: -moz-calc(100% - 80px);
  height: -webkit-calc(100% - 80px);
  height: -o-calc(100% - 80px);
  height: calc(100% - 80px);
  font-weight: 100;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  border-radius: 23px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
}

.carousel-indicators {
  bottom: 0px;
}

.carousel-caption {
  color: #000;
  position: static;
}

#vin-input {
  border-radius:5px;
  width: 300px;
  height: 50px;
}

.extra-top-margin {
  margin-top: 40px;
}

.jumbotron input {
  vertical-align: middle;
}

.typeahead a {
  cursor: pointer;
}

.vin-tooltip {
  color: #0088cc;
  cursor: pointer; 
}
