<!DOCTYPE html>
<html ng-app="vinApp">
<head>
  <title>VIN Decoder</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">VIN Decoder</a>
      </div>
    </div>
  </div>

  <div id="main-content" ng-view>
  </div>

  <footer style="margin-top:50px;">
    <div class="container">
      <h6>
        &copy; 2013 RJY
      </h6>
    </div>
  </footer>
  <%= javascript_include_tag "application" %>
</body>
</html>
