<!DOCTYPE html>
<html ng-app="vin">
<head>
  <title>VIN Decoder</title>
  <meta NAME="description" CONTENT="Simply Awesome VIN Decoder">
  <meta NAME="keywords" CONTENT="vin,vehicle,decoder,decoding">
  <meta http-equiv='content-type' content='text/html; charset=UTF-8'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="<%=ENV['GSV']%>" />
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand">VIN Decoder</a>
      </div>
    </div>
  </div>

  <div id="main-content" ng-view>
  </div>

  <footer style="margin-top:50px;">
    <div class="container">
      <h6>
        &copy; 2013 RJY
      </h6>
    </div>
  </footer>
  <%= javascript_include_tag "application" %>
</body>
</html>
